html {
  min-width: 240px;
  scroll-behavior: smooth;

}

header {
  padding-bottom: 60px;
}

header > nav {
  border-bottom: .07rem solid #e5e5e5;"
}

main {
  border-bottom: .05rem solid #e5e5e5;
}

main > .mid-section {
  padding-bottom: 55px;
}

main > .lower-section {
  padding-bottom: 55px;
  text-anchor: middle;
}

footer {
  border-top: .05rem solid #e5e5e5;
}

footer > div {
  padding-bottom: 55px;
}
nav > a {
  font-weight: bold;
}

.a_underline:hover{
  padding-top: 2px;
  border-bottom: 5px solid #ededed;
  transition: border-bottom 0.25s ease-out;
}

.links_icons {
  width:3%;
  font-size:25px;
}

.links {
  vertical-align: middle;
}

.experience_date, .project_date {
  border-right: 2px solid black !important;
  width: 140px;
  text-align:right;
  padding-top: 10px !important;
  padding-right:25px !important;
}

.project_date {
  width: 155px;
}

.education_date {
  width: 155px;
  text-align:right;
  padding-right: 25px !important;
}

.experience_title, .project_title {
  padding: 5px 25px 10px 20px !important;
}

.education_title {
  padding: 5px 25px 5px 20px !important;
}

.education_data {
  padding: 5px 25px 5px 20px !important;
}

.experience_data, .project_data {
  padding: 10px 25px 5px 20px !important;
}





.skill_tag {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  padding-top:1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right:6px;
}
