html {
  min-width: 240px;
  scroll-behavior: smooth;

}

header {
  padding-bottom: 60px;
}

header > nav {
  border-bottom: .07rem solid #e5e5e5;"
}

main {
  border-bottom: .05rem solid #e5e5e5;
}

main > .mid-section {
  padding-bottom: 55px;
}

main > .lower-section {
  padding-bottom: 55px;
  text-anchor: middle;
}

footer {
  border-top: .05rem solid #e5e5e5;
}

footer > div {
  padding-bottom: 55px;
}
nav > a {
  font-weight: bold;
}

.a_underline:hover{
  padding-top: 2px;
  border-bottom: 5px solid #ededed;
  transition: border-bottom 0.25s ease-out;
}

.links_icons {
  font-size:25px;
  padding: 10px 0px 10px 0px !important;
  width: 25px;
  text-align: center;
  vertical-align: middle!important;
}

.links {
  vertical-align: middle!important;
  font-size: 17px;
  padding: 10px 0px 10px 3% !important;
}

.experience_date, .education_date, .project_date {
  border-right: 2px solid black !important;
  text-align: right;
  width: 14% !important;
  min-width: 110px;
  padding: 10px 25px 0px 0px !important;
}

.experience_title, .project_title, .education_title {
  padding: 5px 10px 10px 20px !important;
}

.experience_data, .project_data, .education_data {
  padding: 10px 10px 10px 20px !important;
}

.skill_table_left {
  border-right: 2px solid black !important;
  text-align: right;
  vertical-align: middle;
  width: 14% !important;
  min-width: 110px;
  padding-right: 25px !important;
}

.skill_table_cat {
  width: 15%;
  min-width: 100px;
}

.skill_table_data {
  padding: 10px 25px 5px 20px !important;
}

.skill_tag {
  background-color: #184776;
  border-radius: 4px;
  margin: 0px 0px 2px 1px;
  padding: 2px 8px 3px 8px;
  display:inline-block;
}
