html {
  min-width: 240px;
  scroll-behavior: smooth;
}

header {
  padding-bottom: 60px;
}

header > nav {
  border-bottom: .07rem solid #e5e5e5;"
}

main {
  border-bottom: .05rem solid #e5e5e5;
}

main > .mid-section {
  padding-bottom: 55px;
}

footer {
  /*border-top: .05rem solid #e5e5e5;*/
}

footer > div {
  padding-bottom: 55px;
}

nav > a {
  font-weight: bold;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.a_underline:hover{
  padding-top: 2px;
  border-bottom: 5px solid #ededed;
  transition: border-bottom 0.25s ease-out;
}

.links_icons {
  font-size:25px;
  padding: 10px 0px 10px 0px !important;
  width: 25px;
  text-align: center;
  vertical-align: middle!important;
}

.links {
  vertical-align: middle!important;
  font-size: 17px;
  padding: 10px 0px 10px 2% !important;
}

.experience_date, .education_date, .project_date {
  border-right: 2px solid black !important;
  text-align: right;
  width: 14% !important;
  min-width: 110px;
  padding: 10px 25px 0px 0px !important;
}

.experience_title, .project_title, .education_title {
  padding: 5px 10px 10px 20px !important;
}

.experience_data, .project_data, .education_data {
  padding: 10px 10px 10px 20px !important;
}

.skill_tags {
  width: 90%;
  margin-left: 1%;
}

.skill_tag {
  /*background-color: #f2f3f3;
  color: #838383 !important;
  border: 1.2px solid #bbbbbb;
  box-shadow: 0px 0px 1px #cccccc;*/
  background-color: #f2f3f0;
  color: #666666 !important;
  border: 1.2px solid #aaaaaa;
  box-shadow: 0px 0px 1px #bbbbbb;
  border-radius: 4px;
  margin: 4px 2px 4px 2px;
  padding: 3px 10px 3px 10px;
  display:inline-block;

}
